<nav class="navbar navbar-dark bg-primary cls-navbar px-4">
  <!-- Navbar content -->
  <h6>
      <a class="navbar-brand" routerLink="/">Universidad Libre</a>
  </h6>
  <button type="button" class="btn btn-light" routerLink="programas-en-oferta">Ver programas en oferta</button>
  <button type="button" class="btn btn-light" routerLink="admin-usuarios">Admin usuarios</button>
  <button type="button" class="btn btn-light" routerLink="admin-grupos">Admin grupos</button>
  <button type="button" class="btn btn-light" routerLink="admin-perfiles">Admin perfiles</button>
  <button type="button" class="btn btn-light" routerLink="admin-usuarios-por-grupo">Admin usuarios x grupo</button>
  <button type="button" class="btn btn-light" routerLink="admin-asignaturas">Admin asignaturas</button>
  <button type="button" class="btn btn-light" routerLink="admin-programas-academicos">Admin programas académicos</button>
  
</nav>



<router-outlet></router-outlet>

<!-- <login></login> -->

<div>
  <footer class="bg-light text-center text-lg-start cls-footer">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2021 Copyright:
      <a class="text-dark" href="https://www.mintic.gov.co/" target="_blank">mintic.gov.co</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
